/* GENERAL */

::selection { color: black; }

* { box-sizing: border-box; }

html {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.4;
    color: rgb(30, 165, 0);
}

body {
    margin: 0;
    margin: auto;
    padding: 0.5rem;
}

h1, h2 {
    font-size: unset;
    font-weight: unset;
    margin: 0;
    /* margin-bottom: 1.4rem; */
    display: inline-block;
    /* text-transform: uppercase; */
    user-select: none;
    color: black;
}

dl {
    margin: 0;
}

dd {
    margin: 0;
}

dd:not(:last-of-type) {
    margin-bottom: 1.4rem;
}

p {
    margin: 0;
}

p:not(:first-child) {
    text-indent: 5ch;
}

a {
    color: unset;
    text-decoration-thickness: 0.13rem;
}

a:hover {
    color: black;
}



/* PROMPT */

.Prompt {
    counter-increment: prompt;
    padding: 1.4rem 1.4rem 3.5rem 1.4rem;
    pointer-events: none;
    /* color: hsl(0,0%,80%); */
    /* cursor: default; */
    transition: color 0.5s 0.2s;
}

.Prompt-container {
    pointer-events: all;
    display: inline-block;
}

.Prompt.is-active {
    color: black;
}

.Prompt-text::before {
    content: counter(prompt);
    display: block;
    color: black;
}

/* INFO */

.Info, .Faq, .Footer {
    padding: 1.4rem;
}

/* EXPANDABLE */

/* .u-expandableHeader {
    cursor: pointer;
} */

/* .u-expandableHeader:hover::before {
    content: '(';
}

.u-expandableHeader:hover::after {
    content: ')';
} */

.u-expandableBody {
    display: none;
}

.u-expandable.is-expanded .u-expandableBody {
    display: block;
}

/* LAYOUT */

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(0, auto);
}

.u-expandable.is-expanded {
    grid-column: 2 / 5;
    margin-bottom: 3.5rem;
}

.Info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.Faq {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.Footer {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

@media screen and (max-width: 1000px) {

    html {
        font-size: 16px;
    }
    
    .u-expandableBody {
        display: block;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(0, auto);
    }

    .Prompt {
        padding: 1.4rem 1.4rem 0 1.4rem;
    }

    .u-expandable, .u-expandable.is-expanded {
        grid-column: 1 / 4;
        margin-bottom: 0;
    }

    .Info, .Faq, .Footer {
        padding: 1.4rem;
    }

    .Info {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        margin-bottom: 1.4rem;
    }
    
    .Faq {
        margin-top: 1.4rem;
        grid-column: 1 / 4;
        grid-row: 13 / 14;
        margin-bottom: 1.4rem;
    }
    
    .Footer {
        grid-column: 1 / 4;
        grid-row: 15 / 16;
    }
}